*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}


h1, h2 {
    text-align: center;
    color: orange;
    text-align: center;
}

.gallery-container{
    width: 80%;
    margin: 100px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);

}

.gallery-container .gallery-card{
    overflow:hidden;
}

.gallery-container .gallery-card a{
    width: 100%;
    height: 100%;
}

.gallery-container .gallery-card a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.gallery-container .gallery-card a > img:hover{
    transform: scale(1.5); 
}

embed, iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-color: rgb(252, 252, 252);
    border-width: 5px;
}






/*
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:nth-child(){
    grid-column-start: span 2;
}

.gallery-item:nth-child(3){
    grid-row-start: span 2;
}

@media (min-width:768px){
    .gallery-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
*/