body{
    background-color: black;
}


h1 {
    text-align: center;
    color: orange;
}

h2{
    padding-left: 40px;
    color:orange;
    
}

.personajes{
    text-align:center;
    color:orange;
}

img, video{
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}


/*incio navegador back - next - home*/

embed, iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-color: rgb(252, 252, 252);
    border-width: 5px;
}

.backNext table tr td, th{
    border: 1px solid black;
}

p, ul, li, tr, th, td, pre{
    color: white;
    
}
/*din de back - next - home*/

.makingofViajerosAmor{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

/* ---no está funcionando--

.makingofViajerosAmor img:hover{
    transition: all .5s ease-out;

}
*/

.makingofComoEnCasa{
    margin-left: 20px;
}
.makingofComoEnCasa img{
    display: inline-block;
    
}

.maquillaje{
    margin-left: 20px;
}

.maquillaje img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.contenido .principal .gallery .galeriafancybox{
    width: 70;
    height: 70;
}

.nuevoTema {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.treintaFotos {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.treintaFotos img {
    width: 100%;
}


div.figure {
    width: 35%;
    border: thin silver solid;

    margin: 0.5em;
    padding: 0.5em;
  }
div.figure p {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

.explicacionesKurt{
      background-color:rgb(141, 145, 148);
      height: 800 px;
      width: 100%;
      padding-bottom: 230px;
}

.imaExplicacionesKurt img{
      width: 200px;
      height: 230;
      float: left;
}

.explicaciones{
    padding: 50px 10px 50px 10px;
}

.tiposDePersonaje{
    width: 90%;
    height: 500px;
    background-color: rgb(134, 136, 138);
    display: flex;
    
}

.tiposDePersonaje img{
    
    width: 300px;
    
}

.clear{
    clear:both;
}


.dimensionPersonaje > table, th, td{
    border: 1px solid rgb(255, 255, 255);
    
}



.dimensionPersonaje > th, td{
    padding: 10px;
}

#dimensionesPersonaje{
    margin: auto;
}

.next-prev > table{
    border: 1px solid black;
}

.next-prev th{
    border: 1px solid rgb(0, 0, 0);
}

.next-prev td{
    border: 1px solid rgb(0, 0, 0);
}
